<div class='container'>
 <section><img class="search-icon" src="../../assets/logo-00.png"></section>
  <section>
    <p>Discover the best Subscription services at your finger tips! We take pride searching across the web for all subscription services into one place.</p>
  </section>
  <section>
    <form class="search-container">
      <input type="text" id="search-bar" placeholder="Search for Subscription services...">
      <a href="#">
        <img class="search-icon" src="../../assets/zoom-72.png">
      </a>
    </form>
  </section>
</div>
